# Environment files
.env

# Bytecode & Cache
__pycache__/
*.pyc

# Jupyter
*.ipynb_checkpoints

# macOS
.DS_Store

# Virtuelle Umgebung
.venv/

# Datenbanken & lokale Artefakte
*.sqlite3
notebooks/data/chroma/

# Generierte Dateien
output/